#catboost baseline submission

public 기준 	0.6955106622

In [ ]:
pip install catboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting catboost
  Downloading catboost-1.1.1-cp38-none-manylinux1_x86_64.whl (76.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.6/76.6 MB 12.0 MB/s eta 0:00:00
Requirement already satisfied: graphviz in /usr/local/lib/python3.8/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly->catboost) (8.2.1)
Installing collected packages: catboost
Successfully installed catboost-1.1.1

In [ ]:
import warnings
warnings.filterwarnings('ignore')

import os
import random
from tqdm import tqdm
import pandas as pd
import numpy as np

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import f1_score
from imblearn.over_sampling import BorderlineSMOTE
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.inspection import permutation_importance
import matplotlib.pyplot as plt
import catboost

# import eli5
# from eli5.sklearn import PermutationImportance

In [ ]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
seed_everything(37) # Seed 고정

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

train_df = pd.read_csv('./drive/MyDrive/open/train.csv')
test_df = pd.read_csv('./drive/MyDrive/open/test.csv')

train_x = train_df.drop(columns=['PRODUCT_ID', 'TIMESTAMP'])
test_x = test_df.drop(columns=['PRODUCT_ID', 'TIMESTAMP'])

A = pd.DataFrame(train_x.isnull().sum(),columns=['sum'])
a = list(A[A['sum']==train_x.shape[0]].index)
train_x.drop(columns=a,inplace=True)
test_x.drop(columns=a,inplace=True)

train_x = train_x.fillna(0)
test_x = test_x.fillna(0)

qual_col = ['LINE', 'PRODUCT_CODE']

for i in qual_col:
    le = LabelEncoder()
    le = le.fit(train_x[i])
    train_x[i] = le.transform(train_x[i])

    for label in np.unique(test_x[i]):
        if label not in le.classes_:
            le.classes_ = np.append(le.classes_, label)
    test_x[i] = le.transform(test_x[i])
print('Done.')

Done.

In [ ]:
ttrain_y = train_x['Y_Class']
train_y = train_x['Y_Quality']
train_x = train_x.drop(columns=['Y_Class','Y_Quality'])

In [ ]:
clf = catboost.CatBoostRegressor(learning_rate=0.05, iterations=500, verbose=0)

In [ ]:
clf.fit(train_x, train_y, early_stopping_rounds=100, cat_features=['PRODUCT_CODE', 'LINE'])

In [ ]:
pre_preds = clf.predict(test_x)
pre_preds

In [ ]:
a = train_df[['Y_Class','Y_Quality']].groupby('Y_Class').agg(['mean', 'min', 'max', 'count'])
a

        Y_Quality
             mean       min       max count
Y_Class
0        0.520837  0.500856  0.525067    88
1        0.530253  0.525086  0.534843   407
2        0.542031  0.534951  0.578841   103

In [ ]:
preds=[]
for p in pre_preds:
  if p<=a[('Y_Quality','max')][0]:
    preds.append(0)
  elif p<=a[('Y_Quality','min')][2]:
    preds.append(1)
  else:
    preds.append(2)

In [ ]:
submit = pd.read_csv('./drive/MyDrive/open/sample_submission.csv')
submit['Y_Class'] = preds
submit.to_csv('./baseline_submission.csv', index=False)

#catboost baseline validation

0.5977182539682541

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

train_df = pd.read_csv('./drive/MyDrive/open/train.csv')
test_df = pd.read_csv('./drive/MyDrive/open/test.csv')

train_x = train_df.drop(columns=['PRODUCT_ID', 'TIMESTAMP'])

#쓰레기 변수 지우기
A = pd.DataFrame(train_x.isnull().sum(),columns=['sum'])
a = list(A[A['sum']==train_x.shape[0]].index)
train_x.drop(columns=a,inplace=True)

In [ ]:
x_train, x_val= train_test_split(train_x, test_size=0.2, shuffle=True, random_state=37)

#결측값 처리 코드
x_train = x_train.fillna(0)
x_val = x_val.fillna(0)

qual_col = ['LINE', 'PRODUCT_CODE']

for i in qual_col:
    le = LabelEncoder()
    le = le.fit(x_train[i])
    x_train[i] = le.transform(x_train[i])

    for label in np.unique(x_val[i]):
        if label not in le.classes_:
            le.classes_ = np.append(le.classes_, label)
    x_val[i] = le.transform(x_val[i])
print('Done.')

Done.

In [ ]:
yy_train = x_train['Y_Class']
y_train = x_train['Y_Quality']
x_train = x_train.drop(columns=['Y_Quality','Y_Class'])

yy_val = x_val['Y_Class']
y_val = x_val['Y_Quality']
x_val = x_val.drop(columns=['Y_Quality','Y_Class'])

In [ ]:
clf = catboost.CatBoostRegressor(learning_rate=0.05, iterations=500, verbose=0)
clf.fit(x_train, y_train, early_stopping_rounds=100, cat_features=['PRODUCT_CODE', 'LINE'])

In [ ]:
from sklearn.metrics import f1_score
pre_preds = clf.predict(x_val)
print(clf.score(x_train,y_train))
print(clf.score(x_val,y_val))

0.9879335660550852
0.4635127370010562

In [ ]:
a = train_df[['Y_Class','Y_Quality']].groupby('Y_Class').agg(['mean', 'min', 'max', 'count'])
a

        Y_Quality
             mean       min       max count
Y_Class
0        0.520837  0.500856  0.525067    88
1        0.530253  0.525086  0.534843   407
2        0.542031  0.534951  0.578841   103

In [ ]:
preds=[]
for p in pre_preds:
  if p<=a[('Y_Quality','max')][0]:
    preds.append(0)
  elif p<=a[('Y_Quality','min')][2]:
    preds.append(1)
  else:
    preds.append(2)

In [ ]:
print(f1_score(yy_val, preds, average = 'macro'))

0.5977182539682541

결측치 처리 방법

1. 제거 (너무 많음 안됌)

2. 대치 (최빈값, 중앙값, 평균, similar case imputation, generalized imputation)

3. 예측 모델 (너무 많아서 오히려 에러 누적 가능성 높음)

# catboost baseline + 최빈값 결측치 처리
0.6273310023310024

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

train_df = pd.read_csv('./drive/MyDrive/open/train.csv')
test_df = pd.read_csv('./drive/MyDrive/open/test.csv')

train_x = train_df.drop(columns=['PRODUCT_ID', 'TIMESTAMP'])

A = pd.DataFrame(train_x.isnull().sum(),columns=['sum'])
a = list(A[A['sum']==train_x.shape[0]].index)
train_x.drop(columns=a,inplace=True)

x_train, x_val= train_test_split(train_x, test_size=0.2, shuffle=True, random_state=37)

In [ ]:
mode_list=[]
for c in x_train.columns[4:]:
  mode_list.append(x_train[c].median())

In [ ]:
for i,c in enumerate(x_train.columns[4:]):
  x_train[c].fillna(mode_list[i],inplace=True)
  x_val[c].fillna(mode_list[i],inplace=True)

In [ ]:
qual_col = ['LINE', 'PRODUCT_CODE']

for i in qual_col:
    le = LabelEncoder()
    le = le.fit(x_train[i])
    x_train[i] = le.transform(x_train[i])

    for label in np.unique(x_val[i]):
        if label not in le.classes_:
            le.classes_ = np.append(le.classes_, label)
    x_val[i] = le.transform(x_val[i])
print('Done.')

Done.

In [ ]:
yy_train = x_train['Y_Class']
y_train = x_train['Y_Quality']
x_train = x_train.drop(columns=['Y_Quality','Y_Class'])

yy_val = x_val['Y_Class']
y_val = x_val['Y_Quality']
x_val = x_val.drop(columns=['Y_Quality','Y_Class'])

In [ ]:
clf = catboost.CatBoostRegressor(learning_rate=0.05, iterations=500, verbose=0)
clf.fit(x_train, y_train, early_stopping_rounds=100, cat_features=['PRODUCT_CODE', 'LINE'])

In [ ]:
from sklearn.metrics import f1_score
pre_preds = clf.predict(x_val)
print(clf.score(x_train,y_train))
print(clf.score(x_val,y_val))

0.9892685610253007
0.46758400914764564

In [ ]:
a = train_df[['Y_Class','Y_Quality']].groupby('Y_Class').agg(['mean', 'min', 'max', 'count'])
a

        Y_Quality
             mean       min       max count
Y_Class
0        0.520837  0.500856  0.525067    88
1        0.530253  0.525086  0.534843   407
2        0.542031  0.534951  0.578841   103

In [ ]:
preds=[]
for p in pre_preds:
  if p<=a[('Y_Quality','max')][0]:
    preds.append(0)
  elif p<=a[('Y_Quality','min')][2]:
    preds.append(1)
  else:
    preds.append(2)

In [ ]:
print(f1_score(yy_val, preds, average = 'macro'))

0.6379806198265391

# catboost baseline + 최빈값 결측치 처리 submission

public 기준 0.7027959332

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

train_df = pd.read_csv('./drive/MyDrive/open/train.csv')
test_df = pd.read_csv('./drive/MyDrive/open/test.csv')

train_x = train_df.drop(columns=['PRODUCT_ID', 'TIMESTAMP'])
test_x = test_df.drop(columns=['PRODUCT_ID', 'TIMESTAMP'])

A = pd.DataFrame(train_x.isnull().sum(),columns=['sum'])
a = list(A[A['sum']==train_x.shape[0]].index)
train_x.drop(columns=a,inplace=True)
test_x.drop(columns=a, inplace=True)

mode_list=[]
for c in train_x.columns[4:]:
  mode_list.append(train_x[c].median())

for i,c in enumerate(train_x.columns[4:]):
  train_x[c].fillna(mode_list[i],inplace=True)
  test_x[c].fillna(mode_list[i],inplace=True)

qual_col = ['LINE', 'PRODUCT_CODE']

for i in qual_col:
    le = LabelEncoder()
    le = le.fit(train_x[i])
    train_x[i] = le.transform(train_x[i])

    for label in np.unique(test_x[i]):
        if label not in le.classes_:
            le.classes_ = np.append(le.classes_, label)
    test_x[i] = le.transform(test_x[i])
print('Done.')

Done.

In [ ]:
ttrain_y = train_x['Y_Class']
train_y = train_x['Y_Quality']
train_x = train_x.drop(columns=['Y_Class','Y_Quality'])

In [ ]:
clf = catboost.CatBoostRegressor(learning_rate=0.05, iterations=500, verbose=0)
clf.fit(train_x, train_y, early_stopping_rounds=100, cat_features=['PRODUCT_CODE', 'LINE'])

In [ ]:
pre_preds = clf.predict(test_x)
pre_preds

array([0.530137  , 0.53327221, 0.53086611, 0.52503777, 0.53181666,
       0.53079102, 0.5324302 , 0.52478191, 0.52410759, 0.53219965,
       0.53299099, 0.53396359, 0.5344585 , 0.52488223, 0.52557672,
       0.52612265, 0.53089421, 0.52796687, 0.530229  , 0.53210978,
       0.52792173, 0.53238021, 0.52710297, 0.52697049, 0.52740962,
       0.52739197, 0.52887602, 0.52670618, 0.52598408, 0.53136542,
       0.52651401, 0.53255908, 0.52634627, 0.52910493, 0.53137576,
       0.52436228, 0.52600856, 0.51990666, 0.55013182, 0.52578662,
       0.53041981, 0.52544719, 0.52428312, 0.52741608, 0.52916702,
       0.53012025, 0.53066789, 0.51986835, 0.52860405, 0.51976537,
       0.53117606, 0.51740275, 0.52350291, 0.52228256, 0.52391737,
       0.52323838, 0.52896477, 0.52882741, 0.52347347, 0.52334349,
       0.52224365, 0.52407559, 0.52700852, 0.5295281 , 0.52381149,
       0.52304875, 0.52294655, 0.52942043, 0.52687685, 0.52698758,
       0.52728004, 0.51687885, 0.53092859, 0.52855246, 0.53097436,
       0.52902284, 0.53061686, 0.52766426, 0.54276054, 0.53199156,
       0.53243574, 0.53106085, 0.53027103, 0.53051494, 0.5333727 ,
       0.53198921, 0.51805451, 0.53264273, 0.51698855, 0.52455382,
       0.53369061, 0.53210779, 0.53402853, 0.53424798, 0.5280596 ,
       0.53382836, 0.53092611, 0.53426838, 0.52936137, 0.53421632,
       0.52840615, 0.53418352, 0.52937742, 0.5346966 , 0.53195538,
       0.53115351, 0.53368202, 0.52923147, 0.53575005, 0.53215851,
       0.53119937, 0.52841848, 0.52916433, 0.53414418, 0.53401178,
       0.53461839, 0.52693128, 0.52637654, 0.53056459, 0.53557573,
       0.53067144, 0.53100093, 0.53351777, 0.53465466, 0.52890983,
       0.52851643, 0.53515918, 0.53090028, 0.52979419, 0.52871491,
       0.52842024, 0.52834827, 0.52840748, 0.52801129, 0.53660332,
       0.53769195, 0.53193161, 0.53689257, 0.53416356, 0.52945202,
       0.53083917, 0.52778196, 0.52497539, 0.53135133, 0.53321936,
       0.53501327, 0.53102826, 0.53505943, 0.52840853, 0.52829106,
       0.5282876 , 0.53340805, 0.53072653, 0.53138973, 0.5280789 ,
       0.5284463 , 0.52876943, 0.52791353, 0.53177646, 0.52828704,
       0.54159394, 0.53916334, 0.5308341 , 0.5391816 , 0.52839219,
       0.53003861, 0.52851659, 0.52945235, 0.52870655, 0.53371941,
       0.52863842, 0.53022904, 0.53412235, 0.52899237, 0.52882838,
       0.52800547, 0.53204412, 0.53168144, 0.52878338, 0.53435031,
       0.53245409, 0.52953081, 0.53069738, 0.53502859, 0.52979574,
       0.52881934, 0.52970122, 0.53410836, 0.52885635, 0.53196409,
       0.52994432, 0.53105823, 0.52890988, 0.52968541, 0.53027426,
       0.52880278, 0.52666468, 0.52977075, 0.52998029, 0.52747223,
       0.52879976, 0.5302779 , 0.52922656, 0.527304  , 0.53209344,
       0.52958836, 0.52998977, 0.52690469, 0.52933268, 0.52909696,
       0.52943184, 0.52758017, 0.52564789, 0.52992337, 0.52807013,
       0.52835073, 0.52771753, 0.52788279, 0.52841111, 0.53045194,
       0.53010661, 0.52830476, 0.52832974, 0.52814338, 0.52795738,
       0.52799119, 0.52675472, 0.53023952, 0.52708923, 0.52837082,
       0.52914503, 0.5295473 , 0.53161006, 0.52786328, 0.52686088,
       0.53004651, 0.52784126, 0.53006708, 0.52792776, 0.53025621,
       0.52976482, 0.52914734, 0.52981146, 0.52811287, 0.52907373,
       0.52724536, 0.52671573, 0.52907924, 0.52839075, 0.52892028,
       0.52700221, 0.52713031, 0.5259678 , 0.5273664 , 0.52646589,
       0.52680768, 0.52744284, 0.52851208, 0.52781684, 0.5290607 ,
       0.53822234, 0.53053716, 0.53014493, 0.52802578, 0.52873858,
       0.52963716, 0.53129747, 0.52933525, 0.52963655, 0.52920459,
       0.52871671, 0.52971756, 0.52745416, 0.52914646, 0.52885334,
       0.52880619, 0.52929425, 0.52850136, 0.52751018, 0.52800497,
       0.52750195, 0.52812888, 0.5268434 , 0.52923221, 0.52472721,
       0.52535053, 0.52585696, 0.52560195, 0.5272665 , 0.52856057,
       0.52932335, 0.52848404, 0.52499911, 0.52727647, 0.52696544,
       0.5282757 , 0.52826116, 0.52756672, 0.52721936, 0.52683583,
       0.52660037, 0.52895033, 0.52841851, 0.52696092, 0.52743536,
       0.52735146, 0.52745706, 0.52951242, 0.52902654, 0.52911624])

In [ ]:
a = train_df[['Y_Class','Y_Quality']].groupby('Y_Class').agg(['mean', 'min', 'max', 'count'])
a

        Y_Quality
             mean       min       max count
Y_Class
0        0.520837  0.500856  0.525067    88
1        0.530253  0.525086  0.534843   407
2        0.542031  0.534951  0.578841   103

In [ ]:
preds=[]
for p in pre_preds:
  if p<=a[('Y_Quality','max')][0]:
    preds.append(0)
  elif p<=a[('Y_Quality','min')][2]:
    preds.append(1)
  else:
    preds.append(2)

In [ ]:
submit = pd.read_csv('./drive/MyDrive/open/sample_submission.csv')
submit['Y_Class'] = preds
submit.to_csv('./baseline_submission2.csv', index=False)